/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  background-color: black;
  font-family: Trebuchet MS;
  color: white;
}

.jumbotron {
  background-image: url(images/header.jpg);
  margin-bottom: 0px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

.promoImage {
  padding-top: 20px;
  width: 100%;
}


.bg-veryDark {
  background-color: #1F1F1F;
}

h1 {

}

h2 {
  padding-top: 20px;
}

.modal {
  color: black;
}

.modal p {
  padding-top:20px;
}

#carouselExampleIndicators {
  padding-left: 0px;
  padding-right: 0px;
}

.hidden {
  visibility: hidden;
}
